    .forms{
        input[type='text']{
            width: 250px;
            height: 30px;
            margin-bottom: 20px;
            padding-left: 10px;
        }
        input[type='submit']{
            width: 100px;
            margin-bottom: 20px;
        }
    }

